<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/_header %>

</head>

<body>


  <h1>Full URLS and Shortened URLS</h1>
  <ul>
    <% for (item in urls) { %>
      <li>
        <a href="/urls/<%= item%>">
          <%= item %> - <%= urls[item] %>
        </a>

        <form action="/urls/<%= item %>/delete" method="POST">
          <button>DELETE</button>
        </form>

        <a href="/urls/<%= item %>"> Edit </a>
    </li>

    <% } %>
  </ul>

  <a href="/urls/new">Create a New Short Link</a>
</body>

</html>